<img src='https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png' alt="">
<h1 style = "font-weight: bold; ">Olá, {{ student }}</h1>
<h3>Parabéns por decidir cuidar de você, sua matricula foi realizada com sucesso.</h3>
<p>Atenção para alguns detalhes:</p>
<p style = "max-width: 430px; ">
  Você contratou o plano <strong>{{plan}}</strong> com parcelas mensais de <strong>R${{plan_price}}</strong> por <strong>{{plan_duration}}</strong> meses, ficando um valor total de <strong>R${{price}}</strong>. <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data do fim: </strong> {{ end_date }} <br />
  <p>Não esqueça de se hidratar, então leve sua garrafa de água e lembre de ter uma diéta equilibrada</p>
  <small>
    Obrigado pela preferência.
  </small>
</p>
